### Test SQL Agent
This notebook shows how to use the SQL Agent to generate and execute SQL

The agent is based on SelectAI, therefore you need to setup SelectAI correctly in the DB

In [1]:
import pandas as pd
from IPython.display import display, Markdown

from select_ai_sql_agent import SelectAISQLAgent
from config_reader import ConfigReader

In [2]:
config = ConfigReader("config.toml")

sql_agent = SelectAISQLAgent(config)

In [3]:
question = """I want a list of the top 5 products sold.
For each product I want the product name, number of sales and total amount in euro sold.
Return output as markdown"""

In [4]:
sql_generated = sql_agent.generate_sql(question)

print("SQL: ", sql_generated)

2025-02-07 15:40:44,415 - Generating SQL...

SQL:  SELECT
  p."PROD_NAME" AS "Product Name",
  SUM(s."QUANTITY_SOLD") AS "Number of Sales",
  SUM(s."AMOUNT_SOLD") AS "Total Amount Sold (€)"
FROM
  "SELAI"."SALES" s
  JOIN "SELAI"."PRODUCTS" p ON s."PROD_ID" = p."PROD_ID"
GROUP BY
  p."PROD_NAME"
ORDER BY
  SUM(s."AMOUNT_SOLD") DESC
FETCH FIRST 5 ROWS ONLY

In [5]:
rows = sql_agent.execute_sql(sql_generated)

2025-02-07 15:40:45,755 - SQL validated. Executing...
2025-02-07 15:40:46,285 - Executed successfully. Rows fetched: 5

In [6]:
df = pd.DataFrame(rows, index=None)

display(df)

,Product Name,Number of Sales,Total Amount Sold (€)
0,Envoy Ambassador,9591,15011642.52
1,"Mini DV Camcorder with 3.5"" Swivel LCD",6160,8314815.40
2,"17"" LCD w/built-in HDTV Tuner",6010,7189171.77
3,Home Theatre Package with DVD-Audio/Video Play,10903,6691996.81
4,5MP Telephoto Digital Camera,6002,6312268.40